.chat-main


  .chat-main__group__info
    .chat-main__group__info__title
      .chat-main__group__info__title__group-name
        = @group.name
      .chat-main__group__info__title__title-member
        Member：
        - @group.users.each do |user|
          %p= user.name
        -# = "Member : #{ @group.user_ids }"
    = link_to edit_group_path(params[:group_id]), class: "edit__btn" do
      Edit


  .chat-main__message-list
    = render @messages


  .chat-main__message-form
    -# .chat-main__message-form__block
    = form_for [@group, @message] do |f|
      .chat-main__message-form__textmessage
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'message-form__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'sent__btn'



  -# .chat-main__message-form
  -#   .chat-main__message-form__block
  -#     .chat-main__message-form__block__textmessage
  -#       %input.message{:placeholder => "type a message", :type => "text"}/
  -#       %label{class: "message-form__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file"}
  -#   = link_to "#", class: "sent__btn" do
  -#     Sent
